// Layout
.page {
  width: 631px;
  height: 1021px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
  width: 631px;
  height: 938px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 631px;
  height: 798px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Banner
.banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 631px;
  height: 797.59px;
  background-image: url("./assets/ImageAsset1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.logo {
  width: 144.64px;
  height: 39.24px;
  margin-top: 112.19px;
  margin-left: 242.81px;
}

// Content
.content {
  width: 480px;
  height: 580px;
  box-sizing: border-box;
  margin-top: 24.16px;
  margin-left: 75px;
}

.main {
  width: 480px;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "PingFang SC";
  font-size: 24px;
  white-space: nowrap;
  color: rgba(183, 61, 27, 1);
  line-height: 33.6px;
  font-weight: 400;
}

// Card List
.cardList {
  width: 480px;
  height: 479px;
  box-sizing: border-box;
  margin-top: 6px;
}

.cardWrapper {
  width: 480px;
  height: 479px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Card Component
.block {
  width: 480px;
  height: 91px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  &:not(:first-child) {
    margin-top: 6px;
  }
}

.cardBg {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 480px;
  height: 90px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.cardContent {
  margin-top: 7px;
  margin-left: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 429.16px;
  height: 75px;
}

.userInfo {
  width: 289px;
  height: 75px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userWrapper {
  width: 289px;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.index {
  width: 10px;
  font-family: "PingFang SC";
  font-size: 24px;
  white-space: nowrap;
  text-align: center;
  color: rgba(146, 45, 17, 1);
  line-height: 33.6px;
  font-weight: 600;
}

.avatar {
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  margin-left: 20px;
}

.nicknameWrapper {
  width: 164px;
  height: 23px;
  box-sizing: border-box;
  margin-left: 20px;
}

.nickname {
  font-family: "PingFang SC";
  font-size: 24px;
  white-space: nowrap;
  color: rgba(161, 48, 0, 1);
  line-height: 22.1px;
  font-weight: 500;
}

.actionWrapper {
  margin-top: 18px;
  margin-left: 42.16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 40px;
}

.actionButton {
  width: 98px;
  height: 40px;
  border-radius: 90px;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    rgba(254, 115, 59, 1) 0%,
    rgba(254, 76, 66, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionText {
  font-family: "PingFang SC";
  font-size: 22px;
  white-space: nowrap;
  color: rgba(254, 251, 225, 1);
  line-height: 120%;
  font-weight: 500;
}

// Footer
.footer {
  width: 356px;
  height: 55px;
  border-radius: 53px;
  box-sizing: border-box;
  margin-top: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.moreText {
  margin-left: 94px;
  font-family: "PingFang SC";
  font-size: 24px;
  white-space: nowrap;
  color: rgba(96, 27, 17, 1);
  line-height: 33.6px;
  font-weight: 400;
}

.arrowIcon {
  width: 14.17px;
  height: 19px;
  box-sizing: border-box;
  margin-left: 10.42px;
}

.bottomIcon {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  margin-top: 60px;
}