.page {
  width: 631px;
  height: 1021px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.wrap {
  width: 631px;
  height: 938px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.container {
  width: 631px;
  height: 798px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 631px;
  height: 797.59px;
  background-image: url("./assets/ImageAsset1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.image1 {
  width: 144.64px;
  height: 39.24px;
  margin-top: 112.19px;
  margin-left: 242.81px;
}
.content {
  width: 480px;
  height: 580px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24.16px;
  margin-left: 75px;
}
.main {
  width: 480px;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.text {
  font-family: "PingFang SC";
  font-size: 24px;
  white-space: nowrap;
  color: rgba(183, 61, 27, 1);
  line-height: 33.6px;
  font-weight: 400;
  flex-shrink: 0;
}
.section {
  width: 480px;
  height: 479px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 6px;
}
.subSection {
  width: 480px;
  height: 479px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.block {
  width: 480px;
  height: 91px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 480px;
  height: 90px;
  background-image: url("./assets/ImageAsset3.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.div {
  margin-top: 7px;
  margin-left: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 429.16px;
  height: 75px;
}
.div1 {
  width: 289px;
  height: 75px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.div2 {
  width: 289px;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.text1 {
  width: 10px;
  font-family: "PingFang SC";
  font-size: 24px;
  white-space: nowrap;
  text-align: center;
  color: rgba(146, 45, 17, 1);
  line-height: 33.6px;
  font-weight: 600;
  flex-shrink: 0;
}
.image3 {
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  margin-left: 20px;
}
.div3 {
  width: 164px;
  height: 23px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}
.text2 {
  font-family: "PingFang SC";
  font-size: 24px;
  white-space: nowrap;
  color: rgba(161, 48, 0, 1);
  line-height: 22.1px;
  font-weight: 500;
}
.div4 {
  margin-top: 18px;
  margin-left: 42.16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 40px;
}
.div5 {
  width: 98px;
  height: 40px;
  border-radius: 90px;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    rgba(254, 115, 59, 1) 0%,
    rgba(254, 76, 66, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.text3 {
  font-family: "PingFang SC";
  font-size: 22px;
  white-space: nowrap;
  color: rgba(254, 251, 225, 1);
  line-height: 120%;
  font-weight: 500;
  flex-shrink: 0;
}
.block1 {
  width: 480px;
  height: 91px;
  box-sizing: border-box;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image4 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 480px;
  height: 90px;
  background-image: url("./assets/ImageAsset5.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.div6 {
  margin-top: 7px;
  margin-left: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 429.16px;
  height: 75px;
}
.div7 {
  width: 289px;
  height: 75px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.div8 {
  width: 289px;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.text4 {
  width: 10px;
  font-family: "PingFang SC";
  font-size: 24px;
  white-space: nowrap;
  text-align: center;
  color: rgba(146, 45, 17, 1);
  line-height: 33.6px;
  font-weight: 600;
  flex-shrink: 0;
}
.image5 {
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  margin-left: 20px;
}
.div9 {
  width: 164px;
  height: 23px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}
.text5 {
  font-family: "PingFang SC";
  font-size: 24px;
  white-space: nowrap;
  color: rgba(161, 48, 0, 1);
  line-height: 22.1px;
  font-weight: 500;
}
.div10 {
  margin-top: 18px;
  margin-left: 42.16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 40px;
}
.div11 {
  width: 98px;
  height: 40px;
  border-radius: 90px;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    rgba(254, 115, 59, 1) 0%,
    rgba(254, 76, 66, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.text6 {
  font-family: "PingFang SC";
  font-size: 22px;
  white-space: nowrap;
  color: rgba(254, 251, 225, 1);
  line-height: 120%;
  font-weight: 500;
  flex-shrink: 0;
}
.block2 {
  width: 480px;
  height: 91px;
  box-sizing: border-box;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image6 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 480px;
  height: 90px;
  background-image: url("./assets/ImageAsset7.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.div12 {
  margin-top: 7px;
  margin-left: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 429.16px;
  height: 75px;
}
.div13 {
  width: 289px;
  height: 75px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.div14 {
  width: 289px;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.text7 {
  width: 10px;
  font-family: "PingFang SC";
  font-size: 24px;
  white-space: nowrap;
  text-align: center;
  color: rgba(146, 45, 17, 1);
  line-height: 33.6px;
  font-weight: 600;
  flex-shrink: 0;
}
.image7 {
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  margin-left: 20px;
}
.div15 {
  width: 164px;
  height: 23px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}
.text8 {
  font-family: "PingFang SC";
  font-size: 24px;
  white-space: nowrap;
  color: rgba(161, 48, 0, 1);
  line-height: 22.1px;
  font-weight: 500;
}
.div16 {
  margin-top: 18px;
  margin-left: 42.16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 40px;
}
.div17 {
  width: 98px;
  height: 40px;
  border-radius: 90px;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    rgba(254, 115, 59, 1) 0%,
    rgba(254, 76, 66, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.text9 {
  font-family: "PingFang SC";
  font-size: 22px;
  white-space: nowrap;
  color: rgba(254, 251, 225, 1);
  line-height: 120%;
  font-weight: 500;
  flex-shrink: 0;
}
.block3 {
  width: 480px;
  height: 91px;
  box-sizing: border-box;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image8 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 480px;
  height: 90px;
  background-image: url("./assets/ImageAsset9.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.div18 {
  margin-top: 7px;
  margin-left: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 429.16px;
  height: 75px;
}
.div19 {
  width: 289px;
  height: 75px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.div20 {
  width: 289px;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.text10 {
  width: 10px;
  font-family: "PingFang SC";
  font-size: 24px;
  white-space: nowrap;
  text-align: center;
  color: rgba(146, 45, 17, 1);
  line-height: 33.6px;
  font-weight: 600;
  flex-shrink: 0;
}
.image9 {
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  margin-left: 20px;
}
.div21 {
  width: 164px;
  height: 23px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}
.text11 {
  font-family: "PingFang SC";
  font-size: 24px;
  white-space: nowrap;
  color: rgba(161, 48, 0, 1);
  line-height: 22.1px;
  font-weight: 500;
}
.div22 {
  margin-top: 18px;
  margin-left: 42.16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 40px;
}
.div23 {
  width: 98px;
  height: 40px;
  border-radius: 90px;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    rgba(254, 115, 59, 1) 0%,
    rgba(254, 76, 66, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.text12 {
  font-family: "PingFang SC";
  font-size: 22px;
  white-space: nowrap;
  color: rgba(254, 251, 225, 1);
  line-height: 120%;
  font-weight: 500;
  flex-shrink: 0;
}
.block4 {
  width: 480px;
  height: 91px;
  box-sizing: border-box;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image10 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 480px;
  height: 90px;
  background-image: url("./assets/ImageAsset11.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.div24 {
  margin-top: 7px;
  margin-left: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 429.16px;
  height: 75px;
}
.div25 {
  width: 289px;
  height: 75px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.div26 {
  width: 289px;
  height: 75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.text13 {
  width: 10px;
  font-family: "PingFang SC";
  font-size: 24px;
  white-space: nowrap;
  text-align: center;
  color: rgba(146, 45, 17, 1);
  line-height: 33.6px;
  font-weight: 600;
  flex-shrink: 0;
}
.image11 {
  width: 75px;
  height: 75px;
  box-sizing: border-box;
  margin-left: 20px;
}
.div27 {
  width: 164px;
  height: 23px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}
.text14 {
  font-family: "PingFang SC";
  font-size: 24px;
  white-space: nowrap;
  color: rgba(161, 48, 0, 1);
  line-height: 22.1px;
  font-weight: 500;
}
.div28 {
  margin-top: 18px;
  margin-left: 42.16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 40px;
}
.div29 {
  width: 98px;
  height: 40px;
  border-radius: 90px;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    rgba(254, 115, 59, 1) 0%,
    rgba(254, 76, 66, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.text15 {
  font-family: "PingFang SC";
  font-size: 22px;
  white-space: nowrap;
  color: rgba(254, 251, 225, 1);
  line-height: 120%;
  font-weight: 500;
  flex-shrink: 0;
}
.section1 {
  width: 356px;
  height: 55px;
  border-radius: 53px;
  box-sizing: border-box;
  margin-top: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.text16 {
  margin-left: 94px;
  font-family: "PingFang SC";
  font-size: 24px;
  white-space: nowrap;
  color: rgba(96, 27, 17, 1);
  line-height: 33.6px;
  font-weight: 400;
  flex-shrink: 0;
}
.image12 {
  width: 14.17px;
  height: 19px;
  box-sizing: border-box;
  margin-left: 10.42px;
}
.image13 {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  margin-top: 60px;
}
